body {background-color: rgb(12, 9, 158);
}
h1 {text-align: center;
    font-size: 30%;
     color:rgb(221, 7, 150);}
#ima1 {width: 25%;
    margin-left: 25%;
}
h3 {font-size: 20%;
    color:rgb(211, 176, 20);
}
